.form {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 500px;
  height: 280px;

  padding: 24px;
  margin-left: 32px;
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;

  border: 1px solid rgb(197, 195, 195);
  background-color: rgb(252, 251, 251);
  border-radius: 20px;
}
.input {
  width: 100%;
  height: 40px;

  padding-left: 16px;

  border: 1px solid gray;
  border-radius: 8px;
  outline: transparent;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 120px;
  height: 50px;

  margin-top: 16px;

  outline: transparent;
  background-color: rgb(245, 153, 153);
}
.button:active,
.button:hover {
  outline: transparent;
}
.label {
  text-align: left;
}
